/* map */
#maps{
    width: 100%;
    height: auto;
    background: #fffaf6;
    font-weight: 600;
    padding-bottom: 7%;
    font-size: 16px;
  }
#map{
  width: 80%;
  height: 550px;
  margin: 0 auto;
}
  .bar1{
      width: 90px;
      margin: 0 auto;
      height: 1px;
      background: #e9af85;
      position: relative;
      margin-bottom: 2%;
  }
  .map-text{
    font-size: 20px;
    color: #e9af85;
  }
  #maps h1{
    font-size: 35px;
    color: #dbb99e;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    padding: 7% 0 5% 0%; 
  }
  .subway>p{
    font-weight: normal;
    font-size: 30px;
    color: #e9af85;
  }
  .map{
    padding-bottom: 1%;
  }
  #maps button {
    background:none;
    border:0;
    outline:0;
    cursor:pointer;
  }
  .map iframe{
    width: 80%;
    height: 450px;
  }
  .map_box{
    width: 80%;
    margin: 0 auto;
    height: 220px;
    background: rgba(255, 255, 255, 0.7);
  }
  .subway{
    width: 100%;
    height: 50px;
    background: #fbede1;
    line-height: 30px;
  }
  .gimpo{
    display: inline;
    background: #d6ac22;
    color: #fff;
    font-size: 16px;
    padding: 6px 8px;
    font-weight: normal;
    border-radius: 20px;
  }
  .map_box2{
    padding-top: 2%;
    height: 150px !important;
  }
  .map_inner{
    width: 78%;
    margin: 0 auto;
    height: auto;
    background: #fff;
    padding-top: 3%;
    padding-bottom: 2%;
  }
  
  @media (max-width:768px){
    #maps h1{
      font-size: 30px;
      padding: 10% 0 6% 0%;
    }
    .map_inner{
      width: 80%;
    }
    .map_box{
      width: 100%;
      margin: 0 auto;
      height: 220px;
      background: rgba(255, 255, 255, 0.7);
    }
  }
  @media (max-width:500px){
    #maps{
      padding-bottom: 10%;
    }
    #maps h1{
      font-size: 30px;
      padding: 10% 0 6% 0%;
    }
    .map_inner{
      width: 94%;
      margin-top: 5%;
    }
    .map_box{
      width: 100%;
      margin: 0 auto;
      height: 220px;
      background: rgba(255, 255, 255, 0.7);
    }

  }
  /* reservation */
  #Reservation{
    width: 100%;
    background: #fffaf6;
    padding-bottom: 5%;
  }
  #Reservation h1{
    font-size: 35px;
    color: #dbb99e;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    padding: 3% 0 3% 0%;
  }
  #Reservation select{
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  #Reservation input{
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  #Reservation .bg{
    background: #fff;
    border-radius: 5px;
    padding: 1%;
  }
  #Reservation .section{
    width: 50%;
    margin: 0 auto;
  }
  #Reservation .col-sm-2{
    margin: 0 auto;
    padding: 0 0;
  }
  #Reservation .check-availabilty{
    background: #fff;
    margin: 0 auto;
  }
  #Reservation button {
      width: 20%; 
      color: #fff;
      background-color: #e3985b;
      font-size: 20px;
      letter-spacing: 1px;
      padding: 11px 0;
      border-radius: 4px;
      border: none;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      font-size: 15px;
      margin: 0 auto;
    }
    #Reservation button:hover {
      opacity: 0.9;
    }
    #Reservation .tab-link{
      width: 33%;
    }
    #Reservation .tabs {
    margin: 0;
    list-style: none;
    height: 32px; /*--Set height of tabs--*/
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
}
#Reservation ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#Reservation ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 20px;
}
#Reservation ul.tabs li.current{
  background: #dbb99e;
  color: #222;
}
#Reservation .tab-content{
  display: none;  
  padding: 15px 0;
}
.double-inner{
  padding-top: 2%;
  padding-bottom: 5%;
}
#Reservation .tab-content.current{
  display: inherit;
}
#tab-1{
  display: flex;
}
#tab-1 img{
  width: 100%;
}
#tab-1 p{
  padding-top: 20%;
}
#tab-2{
  display: flex;
}
#tab-2 img{
  width: 100%;
}
#tab-2 p{
  padding-top: 20%;
}
#tab-3{
  display: flex;
}
#tab-3 img{
  width: 100%;
}
#tab-3 p{
  padding-top: 20%;
}
@media(max-width: 768px){
  #Reservation h1{
    font-size: 35px;
    color: #dbb99e;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    padding: 10% 0 7% 0%;
  }
  #Reservation .tab-link{
    width: 32.85%;
  }
  #tab-1 p{
    width: 260%;
    padding-top: 15%;
  }
  #tab-2 p{
    width: 260%;
    padding-top: 15%;
  }
  #tab-3 p{
    width: 260%;
    padding-top: 15%;
  }
  .double-inner{
    display: flex;
    flex-direction: column;
  }
  #tab-1 img{
    width: 177.5%;
  }
  #tab-2 img{
    width: 177.5%;
  }
  #tab-3 img{
    width: 177.5%;
  }
    #Reservation .bg input{
    font-size: 11px;
    }
  .form-control{
    padding: 0 0;
  }
}
@media(max-width: 576px){
  #Reservation .tab-link{
    width: 100%;
  }
  #tab-1 img{
    width: 100%;
  }
  #tab-2 img{
    width: 100%;
  }
  #tab-3 img{
    width: 100%;
  }
  #tab-1 p{
    width: 100%;
    padding-top: 7%;
  }
  #tab-2 p{
    width: 100%;
    padding-top: 7%;
  }
  #tab-3 p{
    width: 100%;
    padding-top: 7%;
  }
  #Reservation .bg input{
    font-size: 15px;
    }
  #Reservation button {
    width: 50%; 
    margin-top: 5%;
  }
  #Reservation .bg{
    padding: 5% 5%;
  }
}