@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}
*{
    margin: 0 ;
    padding: 0;
}
body{
	font-family: 'Chosunilbo_myungjo' !important;
	font-weight: 400;
    color: #565656;
    font-weight: 500;
}
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #565656;
  transition: 0.3s;
  font-size: 16px;
  text-decoration: none;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #edbe9d;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}
.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #565656;
}
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #edbe9d;
}
.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}
.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}
.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}
.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}
.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}
@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}
/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 23px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
.mobile-nav-toggle i {
  color: #7e7e7e;
}
.mobile-nav {
  width: 90%;
  position: fixed;
  top: 55px;
  left: 22px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0px;
}
.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-nav a {
  display: block;
  position: relative;
  color: #0f394c;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #b7b7b7;
  text-decoration: none;
}
.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}
.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}
.mobile-nav .drop-down > a {
  padding-right: 35px;
}
.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}
.mobile-nav .drop-down li {
  padding-left: 20px;
}
.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(7, 25, 33, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}
.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
/* navi end */

#gtco-header {
  background-image: url(../assets/img/main-bg.jpg);
  background-size: cover;
  height: 900px;
  background-position: bottom center;
  width: 100%;
  overflow-x: hidden;
}
.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.booking-form {
  background-color: rgba(255, 255, 255, 0.85);
	padding: 30px 20px 30px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}
.booking-form .form-control {
	background-color: #ebecee;
  border-bottom: 1px solid #c2c2c2;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 14px;
}
.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(62, 72, 92, 0.3);
	font-size: 14px;
}
.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.booking-form .form-label {
	display: inline-block;
	color: #3e485c;
	margin-bottom: 6px;
	margin-left: 7px;
}
.booking-form .submit-btn {
  width: 320px;
	display: inline-block;
	color: #fff;
  background-color: #e3985b;
  font-size: 20px;
  letter-spacing: 1px;
	padding: 11px 0;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-cta {
	margin-top: 80px;
	margin-bottom: 30px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.booking-cta p {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
}

.booking-form p{
  color: #565656;
  font-size: 35px;
}

@media(max-width: 768px){
  .booking-form {
    margin: 0 auto;
  }
}
@media(max-width: 415px){
  .booking-form {
    width: 90%;
  }
}

/* section02 */
#section02{
    background-image: url(../assets/img/main-bg2.jpg);
    width: 100%;
    height: auto;
}
.bar{
    width: 100px;
    height: 1px;
    background: #a4a4a4;
    margin: 0 auto;
}
.sec02-span{
    color: #e3985b;
    font-size: 17px;
}
#section02 .col-sm-12{
    padding: 50px 0;
    color: #000;
}
#section02 .col-sm-12 p{
    padding: 30px 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 33px;
}

@media(max-width:500px){
  #section02 .col-sm-12{
    padding: 15% 0;
}
  #section02 .col-sm-12 p{
    padding: 30px 10px;
}


}
/* section02 end */

/* Gallery */
#gallery{
  width: 100%;
  background: #fffcf9;
  padding-bottom: 7%;
}
#gallery p{
  font-size: 35px;
  color: #dbb99e;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  padding: 6% 0 1% 15%;
}
#gallery .slider{
  width: 70%;
  margin: 0 auto;
  vertical-align: middle;
}
.carousel-inner{
  width: 80%;
  margin: 0 auto;
}
.ovarlay_slide_cont {
  background: rgba(5,3,0,0.63);
  position: absolute;
  width: 60%;
  margin: 0 15%;
  z-index: 1111111111;
  top: 135px;
  left: 0;
}
.carousel-item img{
  width: 100%;
}
.carousel-indicators li{
   margin: 0 2px;
}
@media(max-width:768px){
  #gallery{
    padding-top: 5%;
    padding-bottom: 20%;
  }
  #gallery>p{
    padding: 8% 0 5% 5%;
  }
  #gallery .slider{
    width: 100%;
  }
  .carousel-inner{
    width: 100%;
  }
  @media(max-width:500px){
    #gallery{
      padding-bottom: 20%;
      padding-top: 5%;
    }
    .carousel-control-prev img{
      width: 20%;
    }
    .carousel-control-next img{
      width: 20%;
    }
  }

}
/* Gallery end */

#room-all{
  width: 100%;
  background: #fffaf5;
  padding: 5% 0 5% 0;
  overflow-x: hidden;
}
#room-all .room-name{
  font-size: 35px;
  color: #dbb99e;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  padding: 0 0 3% 15%;
}
#room-all .row{
  margin-left: 0.5%;
  width: 100%;
}
#room-all .hidden{
  width: 33%;
  overflow: hidden;
}
#room-all img{
  width: 100%;
  height: 250px;
}
#room-all .col-sm{
  padding: 0 0 10px 0;
  border: 1px solid #fffbf7;
  margin: 0 15px;
  background: #fff;
  transition: .5s
}
#room-all p{
  color: #181818;
  font-size: 18px;
  font-weight: 500;
  padding-top: 15px;
}
#room-all button{
  padding: 3px 6px;
  border-radius: 10px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;  
  font-size: 18px;
  font-weight: 500;
}
#room-all .col-sm:hover button{
  cursor: pointer;
  background: #e9af85;
  border: none;
  color: #fff;
  transition: .5s;
}
#room-all .col-sm:hover{
  transform: scale(1.05);
  transition: 0.5s;
  overflow: hidden;
}
@media(max-width:768px){
  #room-all .hidden{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
  }
  #room-all{
    padding: 10% 0 10% 0;
  }
  #room-all .row{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #room-all .col-sm{
    padding: 0 0 20px 0;
    margin: 20px 0;
  }
  #room-all .room-name{
    padding: 0 0 0 5%;
  }
}
@media (max-width:500px){
  #room-all .room-name{
    padding: 0 0 5% 5%;
  }
  #room-all .col-sm{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 414px){
  #room-all .col-sm{
    width: 100%;
  }
}
/* Review */
#review{
  width: 100%;
  height: auto;
  background: #fcf6f1;
  position: relative;
  padding-bottom: 3%;
}
.review{
  font-size: 35px;
  color: #dbb99e;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  padding: 6% 0 0 15%;
}
.big-line{
  width: 350px;
  height: 380px;
  background: #fff;
}
.big-line .small-line img{
  position: relative;
  top: -100px;
  left: 0;
  right: 0;
}
.big-line .small-line{
  position: absolute;
  width: 330px;
  height: 360px;
  border: 1px solid #ccc;
  right: 10px;
  top: 10px;
}
.big-line{
  position: relative;
}

.testimonials{
  padding-top: 2%;
  padding-bottom: 5%;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 130px;
  border-radius: 50%;
  margin: -50px 0 0 40px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  top: 50px;
}
.testimonials .testimonial-item p {
  margin: 0 10px 0 10px;
  padding-top: 18%;
  width: 350px;
  height: 290px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  font-family: 'S-CoreDream-3Light';
  font-size: 13px;
  line-height: 22px;
  color: #181818;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}
.star{
  color: #ed9318;
  display: block;
  padding: 5px 0 10px 0;
}
@media (max-width: 768px) {
  .review{
    padding: 8% 0 0 5%;
  }
  #review{
    padding-bottom: 10%;
    padding-top: 3%;
  }
  .testimonials .testimonial-item p {
    margin: 0 10px;
    padding-top: 27%;
    padding-left: 15px;
    padding-right: 15px;
    width: 290px;
    height: 300px;
    margin: 0 auto;
  }
  .testimonials .testimonial-item .testimonial-img {
    width: 120px;
  }
}

@media (max-width: 500px){
  .testimonials .testimonial-item p {
    padding-top: 15%;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    height: 280px;
    margin: 0 auto;
  }
}
@media (max-width: 415px){
  .testimonials .testimonial-item p {
    padding-top: 18%;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 300px;
    margin: 0 auto;
  }
 
}

/* footer */
footer{
  width:100%;
  height: auto;
  background: #c09777;
  font-size: 12px;
  color: #fff;
  display:flex;
  padding: 25px 0;
}
footer img{
  width: 100px;
  padding-top: 30%;
}
footer a{
  color: #fff;
  text-decoration: none;
}
footer a:hover{
  color: #fff;
}
.footer_top{
  padding-top: 15px;
  letter-spacing: 1px;
}
.footer_right{
  padding-top: 50px;
  text-align: right;
}

@media (max-width:768px){
  footer img{
    width: 130px;
    padding-top: 120%;
    padding-right: 60px;
  }
}
@media (max-width:500px){
  footer{
    padding: 10px 0;
    text-align: center;
  }
  footer img{
    padding: 10px 0 5px 0;
    width: 100px;
    margin: 0 auto;
  }
  .footer_right{
    padding-top: 5px;
    text-align: center;
  }
}

/* Double */
#double{
    width: 100%;
    height: auto;
    background: #fffaf6;
    padding-bottom: 7%;
  }
#double h1{
    font-size: 35px;
    color: #dbb99e;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    padding: 8% 0 1% 0%;
  }
  .room-text{
    display: block;
  }
  .room-text p{
    font-weight: normal;
    font-size: 30px;
    color: #333;
  }
  .swiper-container .swiper-wrapper div img{
    width: 100%;
  }
  #rooms button{
    border: none;
    width: 110px;
    height: 40px;
    border: 1px solid #e9af85;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;  
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
  }
  .swiper-container {
    width: 100%;
    height: auto;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 24px;
    color: #fff;
  }
  #double p{
    font-weight: 600;
    padding-bottom: 3%;
    line-height: 35px;
  }
  :root {
    --swiper-theme-color: #fff;
  }
  table{
    width: 100%;
    margin: 0 auto;
    font-weight: 600;
  }
.span{
  display: block;
  font-size: 25px;
  padding: 3% 0;
}
.bar{
  width: 90px;
  height: 1px;
  background: #e9af85;
  position: relative;
  top: -15px;
}
.room-inner{
  width: 97.5%;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  padding-bottom: 5%;
}
.room-text{
  font-size: 25px !important;
  font-weight: bold;
  color: #e9af85;
  padding-top: 6%;
}
#double .inform{
  padding-left: 20%;
}
i{
  font-size: 35px;
  padding: 0 5%;
}
i>.icon-text{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Chosunilbo_myungjo';
  padding-top: 20%;
}
#double .submit-btn {
  width: 130px;
	display: inline-block;
	color: #fff;
  background-color: #e3985b;
  font-size: 18px;
  letter-spacing: 1px;
	padding: 10px 0;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
  transition: 0.2s all;
  margin-top: 3%;
}
#double .submit-btn:hover,
#double .submit-btn:focus {
	opacity: 0.9;
}
#double .images{
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  font-size: 18px;
}
#double .images p{
  padding-top: 3%;
}
#double .images .col-sm-6{
  overflow: hidden;
}
#double .col-sm-6 img{
  width: 100%;
}
#double .col-sm-6 img{
  transition: all .5s;
}
#double .col-sm-6 img:hover {
  transform: scale(1.03);
  transition: all .5s;
}
@media (max-width:768px){
  .room-text{
    font-size: 23px !important;
  }
  #double .inform{
    padding-left: 0%;
  }
}
@media (max-width:500px){
  #double .inform{
    text-align: center !important;
  }
  .span{
    font-size: 18px;
  }
  #double .images{
    flex-direction: column;
  }
}
@media (max-width: 414px){
  #double .inform{
    padding-left: 0%;
  }
}
/* ROOM END */


/* Facilites */
#Facilites{
  width: 100%;
  height: auto;
  background: #fdf5f2;
  padding-bottom: 5%;
}
#Facilites h1{
  font-size: 35px;
  color: #dbb99e;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  padding: 7% 0 5% 0%; 
}
.dining-area .single-dining-area {
  position: relative;
  padding: 150px 0;
}
.dining-area .single-dining-area.left-img {
  position: relative;
}
.dining-area .single-dining-area.left-img::before {
    position: absolute;
    left: 0;
    content: "";
    top: 0;
    bottom: 0;
    background-image: url(../assets/img/swimming-pool.jpg);
    width: 50%;
    height: 550px;
    border-radius: 5px;
    margin-left :10%;
    background-size: cover;
    background-repeat: no-repeat;
}
.dining-area .single-dining-area.right-img {
    position: relative;
}
.dining-area .single-dining-area.right-img::before {
    position: absolute;
    right: 0;
    content: "";
    top: 0;
    bottom: 0;
    background-image: url(../assets/img/restaurant.jpg);
    width: 50%;
    margin-right:10%;
    height: 530px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}
.dining-area .dining-caption1 {
  background: rgba(252, 252, 252, 0.95);
  padding: 8% 10% 2% 10%;
  border-radius: 5px;
  position: relative;
  bottom: 15%;
  margin-left: 20%;
}
.dining-area .dining-caption1 span {
  color: #ee964e;
  margin-bottom: 35px;
  display: block;
  letter-spacing: 1px;
  font-size: 18px;
}
.dining-area .dining-caption1 h3 {
  font-weight: 600;
  color: #282828;
  font-size: 35px;
  letter-spacing: 1px;
}
.dining-area .dining-caption1 p {
  margin-bottom: 56px;
  line-height: 1.7;
  color: #000;
  font-size: 18px;
}
.dining-area .dining-caption2 {
  background: rgba(252, 252, 252, 0.95);
  padding: 8% 10% 2% 10%;
  border-radius: 5px;
  position: relative;
  bottom: 15%;
  margin-right: 20%;
}
.dining-area .dining-caption2 span {
  color: #ee964e;
  margin-bottom: 35px;
  display: block;
  letter-spacing: 1px;
  font-size: 18px;
}
.dining-area .dining-caption2 h3 {
  font-weight: 600;
  color: #282828;
  font-size: 35px;
  letter-spacing: 1px;
}
.dining-area .dining-caption2 p {
  margin-bottom: 56px;
  line-height: 1.7;
  color: #000;
  font-size: 18px;
}
.dining-area .single-dining-area.end-img::before {
  position: absolute;
  left: 0;
  content: "";
  top: 0;
  bottom: 0;
  background-image: url(../assets/img/wedding.jpg);
  width: 50%;
  height: 550px;
  border-radius: 5px;
  margin-left :10%;
  background-size: cover;
  background-repeat: no-repeat;
}
.dining-area .dining-caption3 {
  background: rgba(252, 252, 252, 0.95);
  padding: 8% 10% 2% 10%;
  border-radius: 5px;
  position: relative;
  bottom: 15%;
  margin-left: 20%;
}
.dining-area .dining-caption3 span {
  color: #ee964e;
  margin-bottom: 35px;
  display: block;
  letter-spacing: 1px;
  font-size: 18px;
}
.dining-area .dining-caption3 h3 {
  font-weight: 600;
  color: #282828;
  font-size: 35px;
  letter-spacing: 1px;
}
.dining-area .dining-caption3 p {
  margin-bottom: 56px;
  line-height: 1.7;
  color: #000;
  font-size: 18px;
}

/* Facilites end */
/* map */
#map{
  width: 100%;
  height: auto;
  background: #fffaf6;
  font-weight: 600;
  padding-bottom: 7%;
  font-size: 16px;
}
.bar1{
    width: 90px;
    margin: 0 auto;
    height: 1px;
    background: #e9af85;
    position: relative;
    margin-bottom: 5%;
}
#map h1{
  font-size: 35px;
  color: #dbb99e;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  padding: 0 0 5% 0%; 
}
.subway>p{
  font-weight: normal;
  font-size: 30px;
  color: #e9af85;
}
.map{
  padding-bottom: 1%;
}
#map h1{
  font-size: 35px;
  color: #dbb99e;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  padding: 10% 0 3% 0%;
}
#map button {
  background:none;
  border:0;
  outline:0;
  cursor:pointer;
}
.map iframe{
  width: 80%;
  height: 450px;
}
.map_box{
  width: 80%;
  margin: 0 auto;
  height: 220px;
  background: rgba(255, 255, 255, 0.7);
}
.subway{
  width: 100%;
  height: 50px;
  background: #fbede1;
  line-height: 30px;
}
.gimpo{
  display: inline;
  background: #d6ac22;
  color: #fff;
  font-size: 16px;
  padding: 6px 8px;
  font-weight: normal;
  border-radius: 20px;
}
.map_box2{
  padding-top: 2%;
  height: 150px !important;
}
.map_inner{
  width: 78%;
  margin: 0 auto;
  height: auto;
  background: #fff;
  padding-bottom: 2%;
}

@media (max-width:768px){
  #map h1{
    padding: 13% 0 6% 0%;
  }
  .map img{
    width: 100%;
  }
  .map_box{
    width: 100%;
    margin: 0 auto;
    height: 220px;
    background: rgba(255, 255, 255, 0.7);
  }
}

/* reservation */
#Reservation h1{
  font-size: 35px;
  color: #dbb99e;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  padding: 10% 0 3% 0%;
}
